[project]
	description = Cement Component Calculating Tool
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bryan542
[access "refs/for/refs/*"]
	read = group user/bryan542
	push = group user/bryan542
	label-Code-Review = -2..+2 group user/bryan542
	label-Verified = -1..+1 group user/bryan542
	rebase = group user/bryan542
	removeReviewer = group user/bryan542
	submit = group user/bryan542
[access "refs/heads/*"]
	read = group user/bryan542
	create = group user/bryan542
	push = +force group user/bryan542
	pushMerge = group user/bryan542
[access "refs/tags/*"]
	push = group user/bryan542
	push = +force group user/bryan542
